.nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    z-index: var(--z-index-higher) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .5rem; 
  }
  
  .logo {
    height: 4.8rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo .company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    height: 4rem;
  }
  
  .title {
    flex: 1;
    color: var(--clr-blue-light);
    text-align: center;
    text-transform: uppercase;
    margin: 0; 
  }
  
  .company h4 {
    margin: 0rem;
  }
  
  @media screen and (max-width: 800px) {
  
    .title {
      font-size: 1.2rem;
    }
  
    .company h4 {
      font-size: 1rem
    }
    
  }