/*
=============== 
Variables
===============
*/

:root {
  --clr-grey-1: #231f20;
  --clr-grey-2: #393536;
  --clr-grey-3: #4f4c4d;
  --clr-grey-4: #656263;
  /* grey used for paragraphs */
  --clr-grey-5: #7b7979;
  --clr-grey-6: #918f90;
  --clr-grey-7: #a7a5a6;
  --clr-grey-8: #bdbcbc;
  --clr-grey-9: #d3d2d2;
  --clr-grey-10: #e9e9e9;
  --clr-grey: #555;
  --clr-white: #fff;
  --clr-white-smoke: #f8f7f7;
  --clr-blue-light: #00629b;
  --clr-blue-dark: #005180;
  --clr-red: #f45063;
  --clr-yellow: #f1f100;
  --clr-green: #4bb543;
  --clr-black: #222;
  --ff-primary: 'Inter', sans-serif;

  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --nav-height: 5rem;
  --nav-height-expanded: 30rem;
  --z-index-higher: 5;
  --z-index-lower: -1;
  --screen-small: 576px;
  --screen-medium: 768px;
  --screen-large: 1023px;
}


/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
}

input, select, textarea, button{font-family:inherit;}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.25rem;
}
body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
  color: var(--clr-grey-5);
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
    letter-spacing: var(--spacing);
  }
  h2 {
    font-size: 2rem;
    letter-spacing: var(--spacing);
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: var(--spacing);
  }
  h4 {
    font-size: 1.25rem;
  }
  p {
    margin-bottom: 1rem;
    color: var(--clr-grey-5);
  } 
}

a {
  text-decoration-line: none;
}

/*  global classes */
 
 

.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}


.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
 
.title {
	margin-bottom: 2rem; 
  }
  
  .title h2 {
	text-transform: uppercase;
	color: var(--clr-white-smoke);
	font-size: 1.8rem;
	text-align: center;
	word-spacing: 0.2rem;
	letter-spacing: .1rem;
	font-weight: 400;
  }
  
  .title h2:after {
	display: block;
	height: 0.2rem;
	background-color: var(--clr-red);
	content: ' ';
	width: 10rem;
	margin: 0 auto;
	margin-top: 2rem;
  }

  __next-auth-theme-auto {
     background-color: var(--clr-blue-light);
  }