.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .content {
    flex: 1;
  }

  .children {
     margin-top: var(--nav-height); 
  }

  @media screen and (max-width: 768px) {

    .layout {
       padding: 0rem; 
    }
}